@model EntityLayer.Concerete.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Kategori Güncelleme Paneli</h1>
@using (Html.BeginForm("UpdateCategory", "AdminCategory", FormMethod.Post))
  {
<div class="form-group">
    @Html.Label("Kategori id")
    @Html.TextBoxFor(x => x.CategoryId,new  {@class="form-control" })
    <br />
    @Html.Label("Kategori Ad")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x => x.CategoryStatus, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">GÜNCELLE</button>
</div>
            }


